define([
  'onion/view',
  'onion/mustache_view',
  'onion/vendor/text!{{{ templateRequirePath }}}'
], function (
  View,
  mustacheView,
  template
) {

  return View.sub('{{ viewTypeName }}')

    .use(mustacheView)

    .proto({
      render: function () {
        this.renderMustache(template)
      }
    })

})
